.App {
  text-align: center;
}

.App-header {
  background-color: #033076;
  min-height: 70px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

/* -----------------------------Component---------------------------------------- */

.component_box{
  border: 1px solid black;
  margin: 50px 400px;
  padding-top: 30px;
  padding-bottom: 70px;

}

.table-feedback{
margin-left: 35%;}